<div class="container my-2">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img [src]="userobj.profileLink" class="w-100" style="border-radius: 50%;">
                </div>
                <div class="col-md-8 my-4">
                    <h3><strong>{{ userobj.username }}</strong></h3>
                    <p style="font-size: 17px;"><strong>{{ userobj.followerCount }}</strong> follower | <strong>{{ userobj.followingCount }}</strong> following | <strong>{{ postServObj.userposts.length }}</strong> Posts </p>
                    <h6>{{ userobj.description }}</h6>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="jumbotron" style="background: 0 !important;">
        <div class="card-group">
            <div class="row">
                <div class="col-md-4" *ngFor="let p of postServObj.userposts">
                    <div class="mx-1 my-2 box">
                        <img class="card-img-top cus_img img-thumbnail" [src]="'http://localhost:8000/'+p.postLink" alt="p.postid" (click)="__DEBUG__(p.postid)">
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>