<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">IGG-Clonex <span class="badge badge-secondary">Alpha Version</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="search_term()">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="userAuthObj.isLoggedIn">
            <a class="nav-link"  routerLinkActive="active" [routerLink]="['profile', userServObj.uuid ]">
              <i class="fas fa-address-card"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="userAuthObj.isLoggedIn">
            
          </li>
          <li class="nav-item" *ngIf="!userAuthObj.isLoggedIn">
            <a class="nav-link" routerLinkActive="active" routerLink="userauth"><i class="fas fa-user-plus"></i></a>
          </li>
        </ul>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchBox>
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>