<div class="container my-5">
    <div class="jumbotron">
      <h3 class="text-center my-2">User Authentication</h3>
    </div>
    <!-- AD MESSAGE -->
    <ul class="nav nav-tabs w-75 mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/userauth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/userauth/register">Register</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>

