
<div class="container my-5" *ngIf="!userAuthObj.isLoggedIn">
    <div class="jumbotron my-5 text-center">
        <h1 class="display-5 my-5">LOGING TO VIEW HOME PAGE BRO.</h1>
        <hr class="w-75">
        <a class="btn btn-md btn-outline-warning" routerLinkActive="active" routerLink="userauth/login">Login</a>
    </div>
</div>

<div class="container my-5" *ngIf="userAuthObj.isLoggedIn">
    <div class="row justify-content-center" *ngIf="!postServObj.allPost.length">
        <div class="jumbotron">
            <h1 class="display-5">You Dont Follow Any one, So no content for you!</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <app-userspost [postObj]="x" *ngFor="let x of postServObj.allPost"></app-userspost>
    </div>
</div>


<div class="socialMediaButtons" *ngIf="userAuthObj.isLoggedIn">
    <div id="twitterButton" class="socialMediaButton">
        <button routerLink="/new-post" class="btn btn-lg btn-outline-success custom-circle-button"><i class="fa fa-plus" style="font-size: 18px;"></i></button>
    </div>
</div>
